.card {
    //block

    height: 25rem;
    -webkit-perspective: 80rem;
    perspective: 80rem;
    position: relative;


    &__side {
        //element
        background-color: orangered;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: .3rem;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        color: $color-white;
        font-size: 5rem;
        height: 25rem;
        overflow: hidden; //border-radius fix
        position: absolute; //this causes parent to lose its height as in case of floats to fix this we need to provide same to height to its parent.
        top: 0;
        left: 0;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        width: 100%;

        &--front {
            //modifier for card__side
            background-color: $color-white;

        }

        &--back {
            //modifier for card__side
            background-color: green;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

            &-1 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark));
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark));
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiary-light), to($color-tertiary-dark));
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

        }
    }

    //prospedtive has to be on parent element of one where transform wher the rotation occurs 

    &:hover &__side--front {
        // .card is hoverd card__side is transformed
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        // .card is hoverd card__side is transformed
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    //Front side styling
    &__picture {
        // background-size: cover;
        background-blend-mode: difference;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 54%);
        height: 10rem;

        &--1 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark)), -webkit-image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
        }

        &--2 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark)), -webkit-image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
        }

        &--3 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiary-light), to($color-tertiary-dark)), -webkit-image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), image-set(
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@1x.png) 1x,
                url(/assets/img/IDR_THEME_NTP_BACKGROUND@2x.png) 2x
            );
        }
    }

    &__heading {
        color: #ffffff;
        font-size: 2.8rem;
        font-weight: 300;
        left: 50%;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 25%;
        width: 75%;
        transform: translate(-50%, -50%);
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; //to apply padding and all other styles declared to line breaked element of heading such that they both are two different blocks 

        &--1 {
            background-image: -webkit-gradient(linear,
                left top, right bottom,
                from(rgba($color-secondary-light, .85)),
                to(rgba($color-secondary-dark, .85)));
            background-image: linear-gradient(to right bottom,
                rgba($color-secondary-light, .85),
                rgba($color-secondary-dark, .85))
        }

        &--2 {
            background-image: -webkit-gradient(linear,
                left top, right bottom,
                from(rgba($color-primary-light, .85)),
                to(rgba($color-primary-dark, .85)));
            background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85))
        }

        &--3 {
            background-image: -webkit-gradient(linear,
                left top, right bottom,
                from(rgba($color-tertiary-light, .85)),
                to(rgba($color-tertiary-dark, .85)));
            background-image: linear-gradient(to right bottom,
                rgba($color-tertiary-light, .85),
                rgba($color-tertiary-dark, .85))
        }
    }

    &__details {
        padding: 3rem;

        ul {
            color: $color-black;
            list-style: none;
            margin: 0 auto;
            width: 80%;

            li {
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;
                @include respond(tab-port) {
                    font-size: 1.8rem;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //Back side styling
    &__cta {
        left: 50%;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 90%;
        & > .btn--blue {
            background: $color-white;
            color: $color-black;
            &::after {
                background: $color-white;
                color: $color-black;
            }
        }
    }




    @include respond(tab-port) {
        border-radius: .3rem;
        background-color: $color-white;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        height: auto;

        &__side {
            //element
            box-shadow: none;
            -webkit-box-shadow: none;
            height: auto;
            position: relative;

            &--back {
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100% );
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

        //prospedtive has to be on parent element of one where transform wher the rotation occurs 

        &:hover &__side--front {
            // .card is hoverd card__side is transformed
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }

        &__details {
            padding: 1rem 3rem;
        }
        //Back side styling
        &__cta {
            left: 0;
            padding: 7rem 4rem 4rem 4rem;
            position: relative;
            top: 0;
            transform: translate(0);
            width: 100%;
        }
    }
}