.dropdown {
  --background: #f3f3f3;
  --max-scroll: 8;
  --text: #3f4656;
  --border: #d6d6d6;
  --borderActive: #23c4f8;
  --arrow: #6c7486;
  --arrowactive: #e4ecfa;
  --listText: #99a3ba;
  --listBackground: #fff;
  --listActive: #e4ecfa;
  --listTextActive: #6c7486;
  --listBorder: none;
  --textFilled: #99a3ba;

  position: relative;

  select {
    display: none;
  }

  & > span {
    cursor: pointer;
    padding: 9px 16px;
    // border-radius: 6px;
    display: block;
    position: relative;
    border: 1px solid transparent;
    background: var(--background);
    transition: all 0.3s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 50%;
      right: 15px;
      background: var(__arrow);
      transition: all 0.3s ease;
    }

    &:before {
      margin-right: 4px;
      transform: scale(0.96, 0.8) rotate(50deg);
    }

    &:after {
      transform: scale(0.96, 0.8) rotate(-50deg);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    top: 38px;
    left: 0;
    z-index: 1;
    right: 0;
    background: var(--listBackground);
    // border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity 0.2s ease, visibility 0.2s ease,
      transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid var(--listBorder);

    li {
      opacity: 0;
      transform: translate(6px, 0);
      transition: all 0.3s ease;

      span {
        cursor: pointer;
        display: block;
        padding: 10px 16px;
        color: var(--listText);
        text-decoration: none;
        outline: none;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          color: var(--listTextActive);
        }
      }

      &.active {
        span {
          color: var(--listTextActive);
          background: var(--listActive);

          &:before,
          &:after {
            --scale: 0.6;
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            position: absolute;
            right: 17px;
            top: 50%;
            opacity: 0;
            background: var(--listText);
            transition: all 0.2s ease;
          }

          &:before {
            transform: rotate(45deg) scale(var(--scale));
          }

          &:after {
            transform: rotate(-45deg) scale(var(--scale));
          }

          &:hover {
            &:before,
            &:after {
              --scale: 0.9;
              opacity: 1;
            }
          }
        }
      }

      &:first-child {
        span {
          border-radius: 2px 2px 0 0;
        }
      }

      &:last-child {
        span {
          border-radius: 0 0 2px 2px;
        }
      }
    }
  }

  &.filled {
    & > span {
      color: var(--textFilled);
    }
  }

  &.open {
    & > span {
      border: 1px solid var(--border);

      &:before {
        transform: scale(0.96, 0.8) rotate(-50deg);
      }

      &:after {
        transform: scale(0.96, 0.8) rotate(50deg);
      }
    }

    ul {
      opacity: 1;
      visibility: visible;
      transform: scale(1) translate(0, 12px);
      transition: opacity 0.3s ease, visibility 0.3s ease,
        transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      outline: none;

      li {
        opacity: 1;
        transform: translate(0, 0);
        $i: 1;
        @while $i <= 10 {
          $delay: $i * 80;
          &:nth-child(#{$i}) {
            transition-delay: #{$delay}ms;
          }
          $i: $i + 1;
        }
      }
    }
  }

  &.optActive {
    & > span {
      color: $color-black;
      background: rgb(232, 240, 254);
    }
  }
}

select {
  --text: #3f4656;
  --border: #2f3545;
  --background: #151924;

  &.dropdown {
    -webkit-appearance: none;
    border-bottom: 0 !important;
  }

  option {
    color: $color-black;
  }
}

// switch

.switch {
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;

  input {
    display: none;

    & + span {
      padding-left: 38px;
      font-size: $default-font-size;
      min-height: 20px;
      line-height: 20px;
      display: block;
      color: #3f4656;
      position: relative;
      white-space: nowrap;

      &:not(:empty) {
        padding-left: 38px + 8;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 10px;
      }

      &:before {
        top: 0;
        left: 0;
        width: 38px;
        height: 20px;
        border: 1px solid #2f3545;
        transition: all 0.3s ease;
      }

      &:after {
        width: 14px;
        height: 14px;
        background: #2f3545;
        top: 3px;
        left: 3px;
        transition: all 0.45s ease;
      }

      &:hover:after {
        background: #0046bb;
      }

      & + svg {
        display: none;
      }
    }

    &:checked {
      & + span {
        &:before {
          background: #0046bb;
          border-color: #0046bb;
        }

        &:after {
          background: #fff;
          transform: translate(18px, 0);
        }
      }
    }
  }
}
