/*About*/
.section-about {
    z-index: 1;
    text-align: justify;
    @include respond(tab-port) {
        padding: 0 0 10rem;
        height: auto;
    }
    .long-copy {
        margin-bottom: 14rem;
        margin-top: 20rem;
    }
}
