/*About*/
.section-about {
    z-index: 1;
    text-align: justify;
    @include respond(tab-port) {
        padding: 0 0 10rem;
        height: auto;
    }
    .long-copy {
        margin-bottom: 14rem;
        @include respond(tab-port) {
            margin: 0 auto 8rem;
        }
    }
}
