.section-wrapper {
    z-index: 1;
    position: relative;
}
.section-contact {
    padding-top: 2rem;
    height: 100vh;
}
.section-about::after,
.section-contact::after,
.section-projects::after,
.section-stones::after {
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg) translateY(13rem);
    content: "";
    position: absolute;
    top: 0;
    height: 80vh;
    display: block;
    width: 100%;
    background-color: #f2f2f2;
}
@media (max-width: 56.25em) {
    .section-about::after,
    .section-contact::after,
    .section-projects::after,
    .section-stones::after {
        content: none;
    }
}
