.tooltip {
  position: relative;
  display: inline-block;
  &text {
    visibility: hidden;
    width: 8rem;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ffb900),
      to(#ff7730)
    );
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    left: 551%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #ffb900 transparent transparent transparent;
    }
  }
  &:hover &text {
    visibility: visible;
    opacity: 1;
  }
}
