.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        display: none;
        background-color: $color-white;
        box-shadow: 0 1rem 4rem rgba($color-black, 0.1);
        cursor: pointer;
        text-align: center; //to make nav button centerd horizontally
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 18;

        @include respond(tab-port) {
            display: block;
            top: 2rem;
            right: 10rem;
        }
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(#f5f5f5, $color-white);
        display: none;
        z-index: 16;

        transition: transform 0.8s;
        @include respond(tab-port) {
            display: block;
            top: 2.2rem;
            right: 10.5rem;
        }
        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
        &_image {
            @include respond(desktop-only) {
                top: 166px;
                right: 0px;
                position: absolute;
                height: 69vh;
            }
            @include respond(tab-landscape) {
                position: absolute;
                right: 0;
                height: 42rem;
                top: 36rem;
            }
            @media (max-width: 823px) {
                height: 35rem;
                top: 9.2rem;
            }
            @media (max-width: 812px) {
                top: 6.5rem;
            }
            @media (max-width: $mq-tablet-portrait) {
                top: 23.5rem;
                height: 55rem;
                right: 16rem;
            }
            @include respond(phone) {
                width: 85%;
                z-index: -1;
                height: 43rem;
                position: absolute;
                top: 177px;
                left: -20px;
            }
            @media (max-width: 320px) {
                top: 160px;
                height: 28rem;
            }
            @media only screen and (min-width: $mq-mobile-portrait + 1) and (max-width: 767px) {
                display: none;
            }
        }
    }

    @include respond(tab-port) {
        &__nav {
            height: 100vh;
            opacity: 0;
            position: fixed;
            left: 0;
            top: 0;
            width: 0; // to make links disappear as opacity 0 only hides them but hover is still preset
            z-index: 17;

            transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &__list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
        }
        &__item {
            margin: 1rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
    }

    // functionality
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //     //icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::after,
        &::before {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::after {
            top: -0.8rem;
        }

        &::before {
            top: 0.8rem;
        }
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked ~ .navigation .main-nav {
        display: block;
    }
}
// // transform-origin: right  // used to move animation center to left or right
/* Main navi */

nav {
    .row {
        margin: 0 0 0 20rem;
        @include respond(tab-port) {
            margin: 0 auto;
        }
    }
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0.2rem 0.2rem $color-medium-grey;
    box-shadow: 0 0.2rem 0.2rem $color-medium-grey;
    @include respond(tab-port) {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: -0.8rem;
    @include respond(phone) {
        display: none;
    }
}

.main-nav li {
    position: relative;
    display: inline-block;
    margin: 0.8rem 4rem 0.3rem 0;
    @include respond(tab-port) {
        margin: 1.8rem 4rem 0.3rem 0;
        display: block;
    }
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: none;
    color: $color-black;
    font-size: 1.8rem;
    padding: 0.5rem 0;
    text-decoration: none;
    text-transform: uppercase;
    &:nth-child(4) {
        // padding-right: 3.3rem;
        padding-left: 3.4rem;
    }
    // -webkit-transition: border-bottom .2s;
    transition: background 0.3s;

    @include respond(tab-port) {
        font-size: 3rem;
        background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(#ff8a00),
                to(#da1b60)
            )
            left bottom transparent no-repeat;
        background: linear-gradient(to right, #ff8a00, #da1b60) left bottom
            transparent no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        text-shadow: none;
    }
}

.main-nav li a:hover,
.main-nav li a:active {
    @extend .grd-border-btm;
}

.main-nav-box {
    &__infinite {
        padding-left: 3.5rem !important;
        margin-left: -1.5rem !important;
        &-icon {
            height: 3rem;
            width: 3rem;
            left: 1.8rem;
            position: absolute;
            @include respond(tab-port) {
                top: 1.4rem;
            }
        }
    }
}

.sticky {
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0.4rem 0.8rem $color-grey-dark-2;
    box-shadow: 0 0.4rem 0.8rem $color-grey-dark-2;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all 0.3s;
    @include respond(tab-port) {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: $color-dark-grey;
    font-size: 1.8rem;
    &:nth-child(4) {
        padding-left: 3.3rem;
    }
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    @extend .grd-border-btm;
}
