/* -- animation for h1 --
    while animating for browser performance
    only animate two properties opacity, transform
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-18rem);
    transform: translateX(-18rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-18rem);
    transform: translateX(-18rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(18rem);
    transform: translateX(18rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(18rem);
    transform: translateX(18rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes moveUpFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40rem);
    transform: translateY(40rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes moveUpFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40rem);
    transform: translateY(40rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
