/*COLORS*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-blue: #0db7ff;
$color-dark-blue: #0046bb;
$color-white: #ffffff;
$color-black: #000000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f2f2f2;
$color-grey-dark: #777777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

/*COLORS set2*/

$primary-orange: #F97F51;
$primary-orange-dark: #f74f0f;

$color-dark-grey: #555;
$color-medium-grey: #efefef;
$color-light-grey: #f4f4f4;


/*GRID*/
$grid-width : 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*FONT-SIZES*/
$default-font-size: 1.6rem;

/*??-SIZES*/
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

